.openingwords {
    text-align: center;
    border-style:solid;
    padding: 15px;
}

.buttons1 {
    display: flex;
    flex-direction:column;
    margin: 25px;
    gap: 10px;
    align-items: center;
    align-content: center;
}

/*ALL CODE BELOW IS FOR THE EASY ROUTE PAGE*/
/*ALL CODE BELOW IS FOR THE EASY ROUTE PAGE*/
/*ALL CODE BELOW IS FOR THE EASY ROUTE PAGE*/

.firstimaage {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
}

.next1 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    text-decoration: none;
    color:white;
}

        .secondimaage {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center;
        }

        .next2 {
            position: absolute;
            bottom: 8px;
            left: 16px;
            text-decoration: none;
            color:white;
        }

                .thirdimaage {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    text-align: center;
                }

                .next3 {
                    position: absolute;
                    bottom: 8px;
                    left: 16px;
                    text-decoration: none;
                    color:white;
                }